* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fdf3e8;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px 0;
  transition: all 0.3s;
}

.sidebar-header {
  padding: 0 20px 20px;
  border-bottom: 1px solid #444;
  color: #d74934;
}

.sidebar-menu {
  list-style: none;
  padding: 20px 0;
}

.sidebar-menu li {
  padding: 10px 20px;
}

.sidebar-menu button {
  width: 100%;
  padding: 10px;
  background-color: #d74934;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar-menu button:hover {
  background-color: #555;
}

.main-content {
  margin-left: 250px;
  transition: margin-left 0.3s;
}

header {
  background-color: #fdf3e8;
  padding: 20px;
  text-align: center;
}

.search-bar input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.project {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: relative;
}

.project:hover {
  transform: scale(1.05);
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project h3 {
  padding: 15px;
  font-size: 18px;
  color: #d74934;
}

.project.modal-open {
  filter: blur(100px);
  pointer-events: none;
}

.project-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 1;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.project-modal .project-content {
  background-color: #fff;
  padding: 100px;
  border-radius: 8px;
  text-align: center;
  max-width: 900px;
  width: 80%;
  position: relative;
  height: 80%;
}

.project-modal img {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d74934;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn:hover {
  background-color: #555;
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 500px;
  overflow: hidden;
  margin-bottom: 20px;
}

.carousel-images {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  height: 100%;
}

.carousel-images img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}